body {
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png);
}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 300px;
  margin: 50px auto;
}

#columns {
  /* column count property splits the content of a div into 3 columns. It isn't accepted by most borwsers on its own so make sure you use the appropriate prefixes */
}
